.modal {
  border: var(--standard-border);
  padding: var(--standard-padding);
  border-radius: var(--standard-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--standard-gap);
}

.modal__message,
.modal__button {
  color: var(--gray-color);
}

.modal__buttons {
  display: flex;
  gap: var(--standard-gap);
}

.modal__button {
  cursor: pointer;
  background: none;
  border: var(--standard-border);
  padding: var(--standard-padding);
  border-radius: var(--standard-border-radius);
}

.modal__button:hover {
  color: var(--white-color);
  background-color: var(--gray-color);
}